.homepage {
  &__slider {
    &__dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1.65rem;
      display: "flex" !important;
      justify-content: "center" !important;
      li {
        display: inline-block;
        margin: 0 0.25rem;
      }
      &__button {
        &:hover {
          cursor: pointer;
        }
      }
      li {
        opacity: 0.5;
      }
      li.slick-active {
        opacity: 1;
      }
    }
    &__button {
      &--left,
      &--right {
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}
