.regisWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.registerWrap {
    
    background-color: rgb(130, 200, 247);
    color: black;
    width: 400px;
    height: 650px;
    /* text-align: center;
    justify-content: center; */
    /* display: flex; */
    align-items: center;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    margin: 0;
    /* padding: 0; */
    /* transform: translate(50%, 50%); */
}
.regisHeader {
    
}

.registerTitle {
    font-size: 2rem;
    padding: 16px 24px;
    font-weight: 600;
}